<%= form_for @post  do |f| %>

    <p>
        <%= f.text_field :title,  placeholder: "enter title" %>
        <% if @post.errors.messages[:title].any? %>
            <span class="eroor">
                <%= @post.errors.messages[:title][0] %>
            </span>
        <% end %>
    </p>
    <p>
        <%= f.text_area :body,  placeholder: "enter body" %>
         <% if @post.errors.messages[:body].any? %>
            <span class="eroor">
                <%= @post.errors.messages[:body][0] %>
            </span>
        <% end %>
    </p>
    <p>
        <%= f.submit  %>
    </p>
<% end  %>